$main-dark: #332f3a;
$main-blue: #01a1e6;
$light-blue: #aafdd9;
$accent-red: #720e13;

$bp-dark: rgba(41, 82, 163, 1);
$bp-light-blue: rgba(59, 203, 255, 1);
$bp-accent-dark: rgba(72, 113, 127, 1);
$bp-accent-light: rgba(47, 162, 204, 1);
